-
	var slider = [
		{   
			images: '/assets/images/slider01.jpg',
			text: 'わかってるから、<br>教えないで！'
		},
		{   
			images: '/assets/images/slider01.jpg',
			text: ''
		},
		{   
			images: '/assets/images/slider01.jpg',
			text: ''
		},
	]

section#about.scroll-point.block
	.prlx__parent.prlx__parent1
		.img__wrapper.prlx__child(style='transform: translate3d(0px, -68.4562px, 0px);')
			h2 Chatter
				br 
				| box
				span.h2-small おしゃべり娘の一言集
	.about
		.about__slider
			.swiper.mySwiper
				.swiper-wrapper
					each i in slider
						.swiper-slide.slider-hover
							img(src= i.images)
							.slide-detail.mask
								p.text.caption !{i. text}
			a.swiper-button-next
			a.swiper-button-prev
			.swiper-pagination

#loveit.block
	.loveit-h2
		.prlx__parent.prlx__parent2
			.img__wrapper.prlx__child
				h2 Love it
	.loveit 
		.loveit__bg
		.loveit__inner
			img.loveit-img.animatable.bounceInLeft(src='/assets/images/kinari03.png')
			.loveit__inner__detail
				.loveit__inner__detail__01
					p.detail-title あそび
					p.detail-text おままごと・お母さんごっこ・買いものごっこ・ブロック・ボルダリング
				.loveit__inner__detail__01
					p.detail-title キャラクター
					p.detail-text アンパンマン・妖怪・ヒカキン
				.loveit__inner__detail__01
					p.detail-title たべもの
					p.detail-text 餃子、チョコ
				.loveit__inner__detail__02
					//- p Webサイトデザインをメインに、
					//-     br
					//-     | Javascriptを学習しつつコーディング業務も行なっております。
					//-     br
					//-     | クライアントや作業内容により、PhotoshopとFigmaを使い分けており、
					//-     br
					//-     | 新しいツール、知識はできる限り手を出し、
					//-     br
					//-     | 作業効率化を含め、アウトプットに向け可能性を広げていきたいと考えています。
	.loveit-mine 
		.loveit-mine__images.first-v2#parallax-01


//- #stalker
//- section.sample
//-     .btn
//-         a VIEW MORE

