section#about.scroll-point.block
    .about-h2
        .prlx__parent.prlx__parent2
            .img__wrapper.prlx__child
                h2 MY PROFILE
    .about 
        .about__bg
        .about__inner
            h3 Skill
            .about__inner__skill
                .about__inner__skill__01
                    p.skill-title Design
                    p.skill-text Photoshop, Illustrator, Adobe XD, Figma, After Effect
                .about__inner__skill__01
                    p.skill-title Coding
                    p.skill-text HTML5, CSS3, Javascript (JQuery)
                        br
                        | VS Code, Git Hub, SourceTree
                .about__inner__skill__02
                    p Webサイトデザインをメインに、
                        br
                        | Javascriptを学習しつつコーディング業務も行なっております。
                        br
                        | クライアントや作業内容により、PhotoshopとFigmaを使い分けており、
                        br
                        | 新しいツール、知識はできる限り手を出し、
                        br
                        | 作業効率化を含め、アウトプットに向け可能性を広げていきたいと考えています。
        .about__inner
            h3 Career
            .about__inner__skill
                .about__inner__skill__01
                    p.career-title 2017.9 - 2021.2　株式会社パノラマ
                    p.career-text Webデザイン、構築業務
                .about__inner__skill__01
                    p.career-title 2015.3 - 2017.9　株式会社ファイヤーワークス
                    p.career-text 自社サイト制作＆実装、企画・運営 (Hedy, Mr.brother's)
                .about__inner__skill__01
                    p.career-title 2011.6 - 2015.3　株式会社ゴシック
                    p.career-text 楽天サイト制作＆実装、企画・運営 (Valletta)
                .about__inner__skill__01
                    p.career-title 2008.4 - 2011.6　LUXZ underwear
                    p.career-text 楽天サイト出品作業、運営件、店舗スタッフ (LUXZ underwear)
                .about__inner__skill__02
                    p 現職では、Webサイトのデザイン・バナー制作・サイト構築を行なっております。
                        br
                        | 勉強会でのプレゼンを行なったり、資料作り、ローンチサイトの発表など
                        br
                        | 人前で話す機会も、多く経験しております。
    .about-mine 
        .about-mine__images.first-v2.parallax-01
        .about-mine__profile
            ul 
                li 
                li 


//- #stalker
//- section.sample
//-     .btn
//-         a VIEW MORE