section#about.scroll-point.block
    .about-h2
        .prlx__parent.prlx__parent2
            .img__wrapper.prlx__child
                h2 Love it
    .about 
        .about__bg
        .about__inner
            h3 Like it
            .about__inner__skill
                .about__inner__skill__01
                    p.skill-title Play
                    p.skill-text おままごと、お母さんごっこ、買い物ごっこ、ひらがな、数字
                .about__inner__skill__01
                    p.skill-title Character
                    p.skill-text アンパンマン、プリンセス、プリキュア、妖怪
                        br
                        | VS Code, Git Hub, SourceTree
                .about__inner__skill__02
                    //- p Webサイトデザインをメインに、
                    //-     br
                    //-     | Javascriptを学習しつつコーディング業務も行なっております。
                    //-     br
                    //-     | クライアントや作業内容により、PhotoshopとFigmaを使い分けており、
                    //-     br
                    //-     | 新しいツール、知識はできる限り手を出し、
                    //-     br
                    //-     | 作業効率化を含め、アウトプットに向け可能性を広げていきたいと考えています。
    .about-mine 
        .about-mine__images.first-v2#parallax-01
        .about-mine__profile
            ul 
                li
                    p Kinari Tsuji
                    dl
                        dt 生年月日 : 2018.5.7
                        dt 年齢 : 3歳 / ♀
                        //- dt Beast of Bodmin
                li
                    //- p 意気込み


//- #stalker
//- section.sample
//-     .btn
//-         a VIEW MORE