section#about.scroll-point.block
    .about-h2
        .prlx__parent.prlx__parent2
            .img__wrapper.prlx__child
                h2 MY PROFILE
    .about
        .about__inner
            h3 SKILL
            .about__skill
                ul
                    li
                        p Photoshop
                            span
                    li

//- #stalker
//- section.sample
//-     .btn
//-         a VIEW MORE