section#about.scroll-point.block
    //- h2 ABOUT
    .about
        h3 Horizontal parallax
        .prlx__parent.prlx__parent2
            .img__wrapper.prlx__child
                img(src='https://img4.goodfon.ru/original/960x854/6/fb/alessandro-di-cicco-valentina-galassi-ryzhaia-ryzhevolosaia.jpg' alt='')

//- h3 Default parallax
//- .prlx__parent.prlx__parent1
//-     .img__wrapper.prlx__child
//-         img(src='https://img4.goodfon.ru/original/960x854/6/fb/alessandro-di-cicco-valentina-galassi-ryzhaia-ryzhevolosaia.jpg' alt='')

//- h3 Callback every step
//- .prlx__parent.prlx__parent3
//-     .img__wrapper.prlx__child
//-         img(src='https://img4.goodfon.ru/original/960x854/6/fb/alessandro-di-cicco-valentina-galassi-ryzhaia-ryzhevolosaia.jpg' alt='')
//- h3 Scrollspy { reverse: true }
//- .prlx__parent.prlx__parent4.scrollspy-example
//-     .img__wrapper.img--invis.prlx__child.c1
//-         img(src='https://img4.goodfon.ru/original/960x854/6/fb/alessandro-di-cicco-valentina-galassi-ryzhaia-ryzhevolosaia.jpg' alt='')
//-     .img__wrapper.img--invis.prlx__child.c2
//-         img(src='https://img4.goodfon.ru/original/960x854/6/fb/alessandro-di-cicco-valentina-galassi-ryzhaia-ryzhevolosaia.jpg' alt='')
//-     .img__wrapper.img--invis.prlx__child.c3
//-         img(src='https://img4.goodfon.ru/original/960x854/6/fb/alessandro-di-cicco-valentina-galassi-ryzhaia-ryzhevolosaia.jpg' alt='')
//-     .img__wrapper.img--invis.prlx__child.c3
//-         img(src='https://img4.goodfon.ru/original/960x854/6/fb/alessandro-di-cicco-valentina-galassi-ryzhaia-ryzhevolosaia.jpg' alt='')
//-     .img__wrapper.img--invis.prlx__child.c1
//-         img(src='https://img4.goodfon.ru/original/960x854/6/fb/alessandro-di-cicco-valentina-galassi-ryzhaia-ryzhevolosaia.jpg' alt='')
//-     .img__wrapper.img--invis.prlx__child.c2
//-         img(src='https://img4.goodfon.ru/original/960x854/6/fb/alessandro-di-cicco-valentina-galassi-ryzhaia-ryzhevolosaia.jpg' alt='')
//-     .img__wrapper.img--invis.prlx__child.c3
//-         img(src='https://img4.goodfon.ru/original/960x854/6/fb/alessandro-di-cicco-valentina-galassi-ryzhaia-ryzhevolosaia.jpg' alt='')
//-     .img__wrapper.img--invis.prlx__child.c3
//-         img(src='https://img4.goodfon.ru/original/960x854/6/fb/alessandro-di-cicco-valentina-galassi-ryzhaia-ryzhevolosaia.jpg' alt='')
//-     .img__wrapper.img--invis.prlx__child.c1
//-         img(src='https://img4.goodfon.ru/original/960x854/6/fb/alessandro-di-cicco-valentina-galassi-ryzhaia-ryzhevolosaia.jpg' alt='')
//-     .img__wrapper.img--invis.prlx__child.c2
//-         img(src='https://img4.goodfon.ru/original/960x854/6/fb/alessandro-di-cicco-valentina-galassi-ryzhaia-ryzhevolosaia.jpg' alt='')
//-     .img__wrapper.img--invis.prlx__child.c3
//-         img(src='https://img4.goodfon.ru/original/960x854/6/fb/alessandro-di-cicco-valentina-galassi-ryzhaia-ryzhevolosaia.jpg' alt='')
//-     .img__wrapper.img--invis.prlx__child.c3
//-         img(src='https://img4.goodfon.ru/original/960x854/6/fb/alessandro-di-cicco-valentina-galassi-ryzhaia-ryzhevolosaia.jpg' alt='')
//-     .img__wrapper.img--invis.prlx__child.c1
//-         img(src='https://img4.goodfon.ru/original/960x854/6/fb/alessandro-di-cicco-valentina-galassi-ryzhaia-ryzhevolosaia.jpg' alt='')
//-     .img__wrapper.img--invis.prlx__child.c2
//-         img(src='https://img4.goodfon.ru/original/960x854/6/fb/alessandro-di-cicco-valentina-galassi-ryzhaia-ryzhevolosaia.jpg' alt='')
//-     .img__wrapper.img--invis.prlx__child.c3
//-         img(src='https://img4.goodfon.ru/original/960x854/6/fb/alessandro-di-cicco-valentina-galassi-ryzhaia-ryzhevolosaia.jpg' alt='')
//-     .img__wrapper.img--invis.prlx__child.c3
//-         img(src='https://img4.goodfon.ru/original/960x854/6/fb/alessandro-di-cicco-valentina-galassi-ryzhaia-ryzhevolosaia.jpg' alt='')
