-
	var slider = [
		{   
			images: '/assets/images/slider01.jpg',
			title: '3',
			text: '「わかってるから、教えないで！」 期'
		},
		{   
			images: '/assets/images/slider01.jpg',
			title: '2',
			text: ''
		},
		{   
			images: '/assets/images/slider01.jpg',
			title: '1',
			text: ''
		},
	]

section#about.scroll-point.block
	.prlx__parent.prlx__parent1
		.img__wrapper.prlx__child(style='transform: translate3d(0px, -68.4562px, 0px);')
			h2 Chatter
				br 
				| box
	.about
		p.about__text こんなに大きくなったなんて！！
			br
			| オカン、うれしわ〜
		.about__slider
			.swiper.mySwiper
				.swiper-wrapper
					each i in slider
						.swiper-slide.slider-hover
							img(src= i.images)
							.slide-detail.mask
								p.title.caption !{i.title}
									span.title-small &nbsp;age
								p.text.caption !{i. text}
			a.swiper-button-next
			a.swiper-button-prev
			.swiper-pagination


