-
	var slider = [
		{   
			images: '/assets/images/slider01.jpg',
			text: '「わかってるから、<br>教えないで！」'
		},
		{   
			images: '/assets/images/slider02.jpg',
			text: '「ココ座ってみ」'
		},
		{   
			images: '/assets/images/slider03.jpg',
			text: '「そうだよ!<br>可愛いでしょ〜」'
		},
	]

section#about.scroll-point.block
	.prlx__parent.prlx__parent1
		.img__wrapper.prlx__child(style='transform: translate3d(0px, -68.4562px, 0px);')
			h2 Chatter
				br 
				| box
				span.h2-small おしゃべり娘の一言集
	.about
		.about__slider
			.swiper.mySwiper
				.swiper-wrapper
					each i in slider
						.swiper-slide.slider-hover
							img(src= i.images)
							.slide-detail.mask
								p.text.caption !{i. text}
			a.swiper-button-next
			a.swiper-button-prev
			.swiper-pagination

#loveit.block
	.loveit-h2
		.prlx__parent.prlx__parent2
			.img__wrapper.prlx__child
				h2 Love it
	.loveit 
		.loveit__bg
		.loveit__inner
			.loveit__inner__img.animatable.bounceInLeft
				p.loveit-name Kinari&nbsp;
					span.mini age&nbsp;
					span 3
				img.loveit-img(src='/assets/images/kinari03.png')
			.loveit__inner__detail
				.loveit__inner__detail__01
					p.detail-title Playing
					p.detail-text おままごと・お母さんごっこ・買いものごっこ・ブロック・ボルダリング
				.loveit__inner__detail__01
					p.detail-title Character
					p.detail-text アンパンマン・妖怪・ヒカキン
				.loveit__inner__detail__01
					p.detail-title Food
					p.detail-text 餃子、チョコレート
				.loveit__inner__detail__02
			.loveit__inner__gyoza
				img(src='/assets/images/img01.png')
	.loveit-mine 
		.loveit-mine__images.first-v2#parallax-01

