-
    var img = [
        {   
            images: '/assets/images/gallery01.jpg'
        },{   
            images: '/assets/images/gallery02.jpg'
        },{   
            images: '/assets/images/gallery03.jpg'
        },{   
            images: '/assets/images/gallery04.jpg'
        },{   
            images: '/assets/images/gallery05.jpg'
        },{   
            images: '/assets/images/gallery06.jpg'
        },{   
            images: '/assets/images/gallery07.jpg'
        },{   
            images: '/assets/images/gallery08.jpg'
        },{   
            images: '/assets/images/gallery09.jpg'
        },
    ]

section#gallery.scroll-point.block
    .gallery-h2
        .img__wrapper.animatable.moveUp
            h2 Photo Gallery 
    .gallery 
        // カードセクション
        .Card
            each i in img
                .Card-Item.animatable.fadeInUp
                    img(src= i.images)
        // モーダルとスライドショー
        .ModalLayer
            .ModalLayer-Mask
            .ModalLayer-Inner
                .ModalSection
                    .Modal
                        .Modal-Inner
                            // Swiper
                            .swiper-container.Modal-Inner-Card
                                .swiper-wrapper.Modal-Inner-Card-Wrapper
                                    // item
                                    each i in img
                                        .swiper-slide.Modal-Inner-Card-Wrapper-Slide
                                            .Modal-Inner-Card-Wrapper-Slide-Item
                                                .Modal-Inner-Card-Wrapper-Slide-Item-Box
                                                    img(src= i.images)
                            .swiper-button-prev.gallery-btn
                            .swiper-button-next
                            .Modal-Inner-Btn.JS_Click_CloseModal_Trigger
                                | ×
    .wrap 
        ul.slideshow
            li.content 
                p THANK YOU SO MUCH LOOKING *
            li.content 
                p THANK YOU SO MUCH LOOKING *
            li.content 
                p THANK YOU SO MUCH LOOKING *
            li.content 
                p THANK YOU SO MUCH LOOKING *
        ul.slideshow
            li.content 
                p THANK YOU SO MUCH LOOKING *
            li.content 
                p THANK YOU SO MUCH LOOKING *
            li.content 
                p THANK YOU SO MUCH LOOKING *
            li.content 
                p THANK YOU SO MUCH LOOKING *
        ul.slideshow
            li.content 
                p THANK YOU SO MUCH LOOKING *
            li.content 
                p THANK YOU SO MUCH LOOKING *
            li.content 
                p THANK YOU SO MUCH LOOKING *
            li.content 
                p THANK YOU SO MUCH LOOKING *
        ul.slideshow
            li.content 
                p THANK YOU SO MUCH LOOKING *
            li.content 
                p THANK YOU SO MUCH LOOKING *
            li.content 
                p THANK YOU SO MUCH LOOKING *
            li.content 
                p THANK YOU SO MUCH LOOKING *
        ul.slideshow
            li.content 
                p THANK YOU SO MUCH LOOKING *
            li.content 
                p THANK YOU SO MUCH LOOKING *
            li.content 
                p THANK YOU SO MUCH LOOKING *
            li.content 
                p THANK YOU SO MUCH LOOKING *