section#main
	h1.main-title
		span K
		span A
		span O
		span R
		span I
		span T
		span S
		span U
		span J
		span I
	ul
		li
			p Portfolio of Mine.
				br
				| Web Design, Coding, Programming.
		li
			p.email k.tsuji.shiba@gmail.com


