section#main.block
	h1.main-title
		span I
		span &nbsp;
		span a
		span m
		span &nbsp;
		span K
		span i
		span n
		span a
		span r
		span i
	p The Website of my beloved daughter
	.main-image
		//- img(src='/assets/images/kinari.png')
	.scroll
		.scroll-text
			svg.scroll-arrow(role='image' aria-label='arrow-icon')
				use(xlink:href='/assets/svg/symbol/sprite.svg#scroll-arrow')
		//- ul
		//- 	li
		//- 		p The Website of my beloved daughter
		//- 	li
		//- 		p.email k.tsuji.shiba@gmail.com