section#works.scroll-point
	h2 WORKS
	div 
		ul 
			li 
				div.works-text
					div.title
						p.title-en Ryoujyuen Inc.
						p.title-en-white
					p.title-jp 株式会社 涼樹園
						br
						| Official Website
					//- p.charge Webdesign & Coding
				botton 
					a(href="https://ryoujyuen.com/" target="_blank") VIEW MORE
						svg.arrow-icon(role='image' aria-label='arrow-icon')
							use(xlink:href='/assets/svg/symbol/sprite.svg#arrow-icon')
			li 
				div.works-img
					img(src='/assets/images/img01.png')

