section#works.scroll-point.block
	//- h2 WORKS
	div 
		ul 
			li 
				div.works-text.num01
					div.title.bgextend.bgLRextendTrigger
						p.title-en.bgappearTrigger Ryoujyuen Inc.
						p.title-en-white.title-w01.bgappearTrigger
					p.title-jp 株式会社 涼樹園
						br
						| Official Website
					//- p.charge Webdesign & Coding
				botton
					a.works01(href="https://ryoujyuen.com/" target="_blank") VIEW MORE 
					svg.arrow-icon(role='image' aria-label='arrow-icon')
						use(xlink:href='/assets/svg/symbol/sprite.svg#arrow-icon')
			li 
				div.works-img
					img.works01(src='/assets/images/img01.png')
		ul 
			li 
				div.works-text.num02
					div.title.bgextend.bgLRextendTrigger
						p.title-en.bgappearTrigger go_en
						p.title-en-white.title-w02.bgappearTrigger
					p.title-jp ゴーエン
						br
						| Official Website
					//- p.charge Webdesign & Coding
				botton
					a.works02(href="https://www.goentokyo.com/" target="_blank") VIEW MORE 
					svg.arrow-icon(role='image' aria-label='arrow-icon')
						use(xlink:href='/assets/svg/symbol/sprite.svg#arrow-icon')
			li 
				div.works-img
					img.works02(src='/assets/images/img02.png')


