section#sample.scroll-point.block
	div 
		ul 
			li 
				div.sample-text.num01
					div.title.bgextend.bgLRextendTrigger
						p.title-en.bgappearTrigger Merry Christmas!!
						p.title-en-white.title-w01.bgappearTrigger
			li 
				div.sample-img
					img.works01(src='/assets/images/sample.jpg')


