#header {
  position: fixed;
  height: auto;
  width: 100%;
  color: #fff;
  padding: 4.5rem 3rem 3rem;
  z-index: 100;
  nav {
    position: absolute;
    right: 3rem;
    ul {
      li {
        margin-bottom: 1.8rem;
        transition: all 0.5s;
        text-align: right;
        a {
          font-family: $font-en002;
          font-size: 2.2rem;
          font-weight: 500;
          letter-spacing: 0;
          position: relative;
          display: inline-block;
          padding: 0.7rem 1.8rem 0.6rem;
          text-transform: uppercase;
          color: $pink;
          border: $pink 0.1rem solid;
          border-radius: 4.5rem;
          transition: all 0.3s ease 0s;
          cursor: pointer;
          outline: none;
          &::before {
            position: absolute;
            top: 0;
            left: -0.2rem;
            z-index: -1;
            width: calc(100% + 0.4rem);
            height: calc(100% + 0.4rem);
            background-color: $pink;
            border-radius: 4.5rem;
            content: "";
            transition: transform 0.3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
            transform: scale(0, 1);
            transform-origin: right top;
          }
        }
        &:hover {
          @include pc {
            transition: all 0.5s;
            a {
              color: $orange;
              &::before {
                transform-origin: left top;
                transform: scale(1, 1);
              }
            }
          }
        }
      }
      li.current {
        transition: all 0.5s;
        a {
          color: $orange;
          &::before {
            transform-origin: left top;
            transform: scale(1, 1);
          }
        }
      }
    }
  }
}
@include sp {
  nav ul li a:hover {
    color: #000;
  }
  nav ul li.current a {
    color: #fff;
  }
}
