#about {
  margin-top: 14rem;
  position: relative;
  width: 100%;
  h2 {
    font-family: $font-en001;
    font-size: 14rem;
    font-weight: 300;
    font-style: normal;
    line-height: 0.8;
    letter-spacing: 0;
    color: $pink;
    transform: rotate(90deg);
    position: absolute;
    top: 20rem;
    left: -22rem;
    float: left;
    .h2-small {
      font-size: 1.8rem;
      font-weight: 400;
      padding-left: 2.8rem;
      vertical-align: middle;
      letter-spacing: 0.3em;
      color: #ffc9e0;
    }
  }
}

#loveit {
  padding-top: 20rem;
  .loveit-h2 {
    position: relative;
    .prlx__parent {
      margin-bottom: 50px;
      position: absolute;
      right: -21rem;
      z-index: 1;
    }

    .img__wrapper {
      position: relative;
      overflow: hidden;
      h2 {
        font-family: $font-en001;
        font-size: 22rem;
        font-weight: 300;
        font-style: normal;
        line-height: 0.8;
        letter-spacing: -1rem;
        text-align: right;
        padding: 1rem 0;
        color: $pink;
        // opacity: 0.6;
      }
    }
    .scrollspy-example {
      display: flex;
      flex-wrap: wrap;
    }

    .img--invis {
      display: block;
      transition: 1.5s ease;
      opacity: 0;
      transform: translateY(50px) scale(0.9);
      width: 25%;
      max-width: 25%;
      border: 8px solid #fff;

      $num: 0;
      @for $i from 1 through 20 {
        @debug $num;
        &:nth-child(#{$i}) {
          transition-delay: #{$num * 0.2}s;
        }

        $num: $num + 1;
        @if $num >= 4 {
          $num: 0;
        }
      }

      img {
        object-fit: cover;
        width: 100%;
      }

      &.show {
        opacity: 1;
        transform: translateY(0) scale(1);
      }

      @media (max-width: 768px) {
        width: 50%;
        max-width: 50%;

        $num: 0;
        @for $i from 1 through 20 {
          @debug $num;
          &:nth-child(#{$i}) {
            transition-delay: #{$num * 0.2}s;
          }

          $num: $num + 1;
          @if $num >= 2 {
            $num: 0;
          }
        }
      }
    }
  }
  .loveit {
    position: relative;
    padding-top: 16rem;
    margin-bottom: 8rem;
    &__inner {
      display: flex;
      justify-content: space-between;
      margin-top: 6rem;
      width: 88%;
      position: relative;
      padding-bottom: 4rem;
      &__detail {
        width: 55%;
        margin-top: 6rem;
        &__01 {
          margin-bottom: 2.2rem;
          p {
            font-family: $font-en002;
            font-style: normal;
            line-height: 1.3;
            letter-spacing: 0.1em;
            color: $pink;
          }
          .detail-title {
            font-weight: 700;
            font-size: 2.2rem;
            margin-bottom: 0.8rem;
          }
          .detail-text {
            font-weight: 300;
            font-size: 1.6rem;
          }
          .career-title {
            font-size: 1.6rem;
            margin-bottom: 0.6rem;
            font-weight: 400;
          }
          .career-text {
            font-size: 1.2rem;
            font-weight: 300;
          }
        }
        &__02 {
          margin-top: 5rem;
          p {
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.8;
          }
        }
      }
      h3 {
        position: relative;
        padding-top: 1rem;
        // margin-left: 5.8rem;
        padding-left: 5.8rem;
        font-family: $font-en001;
        font-size: 6rem;
        font-weight: 400;
        font-style: normal;
        line-height: 0.8;
        letter-spacing: -0.2rem;
        display: block;
        width: 50%;
        color: $pink;
        // &::after {
        //   content: "";
        //   display: block;
        //   width: 0.8rem;
        //   height: 0.8rem;
        //   background-color: $orange;
        //   border-radius: 50%;
        //   position: absolute;
        //   top: -4rem;
        //   left: 0;
        //   margin-top: 9rem;
        // }
      }
      // &::after {
      //   display: block;
      //   position: absolute;
      //   bottom: -6rem;
      //   left: 0;
      //   // width: calc(88% - 5.6rem);
      //   width: 88%;
      //   height: 0.1rem;
      //   margin: 0 5.8rem;
      //   background-color: #000;
      //   content: "";
      // }
      .loveit-img {
        width: 26rem;
        margin-left: 12%;
      }
    }
    &__inner:nth-child(3) {
      margin-top: 15rem;
      &::after {
        display: none;
      }
    }
    &__bg {
      position: absolute;
      top: 16.7rem;
      left: 0;
      width: 88%;
      height: 40rem;
      background-color: $blue;
      z-index: -1;
    }
  }
  .loveit-mine {
    width: 100%;
    padding-top: 10rem;
    &__images {
      position: relative;
      &::before {
        z-index: 1;
        height: 100%;
        width: 100%;
        background: linear-gradient(
          rgba(255, 156, 198, 0.9),
          rgba(255, 156, 198, 0.9)
        );
        mix-blend-mode: color-burn;
        content: "";
        position: absolute;
        top: 0;
      }
    }
    &__profile {
      background-color: $orange;
      padding: 10rem 0;
      ul {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 66%;
        li {
          p {
            font-family: $font-en001;
            font-size: 3rem;
            font-weight: 400;
            font-style: normal;
            line-height: 0.8;
            letter-spacing: -0.02em;
          }
          dl {
            margin-top: 2rem;
            font-size: 1.4rem;
            dt {
              padding-bottom: 0.8rem;
              font-weight: 400;
            }
          }
        }
      }
    }
    // パララックス
    .first-v2 {
      position: relative;
      background: url(/assets/images/profile-bg.png);
      background-size: cover;
      height: 0%;
      padding-top: unquote("min(100vh,35%)");
      // p {
      //   position: absolute;
      //   top: 50%;
      //   left: 50%;
      //   transform: translate(-50%, -50%);
      //   color: #fff;
      //   line-height: 1.5;
      //   font-size: unquote("max(3vw, 16px)");
      // }
    }
  }
}
