#about {
  margin-top: 14rem;
  position: relative;
  width: 100%;
  h2 {
    font-family: $font-en001;
    font-size: 14rem;
    font-weight: 300;
    font-style: normal;
    line-height: 0.8;
    letter-spacing: -0.2rem;
    color: $pink;
    transform: rotate(90deg);
    position: absolute;
    top: 20rem;
    left: -22rem;
    float: left;
  }
}
