// マウスストーカー
.sample {
  width: 100%;
}
#stalker {
  pointer-events: none;
  position: fixed;
  top: -0.5rem;
  left: -0.5rem;
  width: 1rem;
  height: 1rem;
  background: $green;
  opacity: 1;
  border-radius: 50%;
  transition: transform 0.2s, top, 0.5s, left 0.5s, width 0.5s, height 0.5s,
    background-color 0.3s;
  transition-timing-function: ease-out;
  z-index: 999;
  &.hov_ {
    top: -7rem;
    left: -7rem;
    width: 14rem;
    height: 14rem;
    transition: 0.3s;
    background: $green;
    opacity: 0.8;
    mix-blend-mode: hard-light;
  }
}
#main {
  position: relative;
  // &::after {
  //   content: "";
  //   display: block;
  //   width: calc(100% - 11.6rem);
  //   height: 0.1rem;
  //   background-color: $pink;
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   margin: auto;
  // }
}
section {
  position: relative;
}
// h3 {
//   font-family: $font-en002;
//   font-size: 1.4rem;
//   font-weight: 600;
//   text-align: left;
//   margin: 0 0 3rem 0;
//   padding-left: 1.8rem;
//   position: relative;
//   letter-spacing: 0;
//   &::after {
//     content: "";
//     display: block;
//     width: 0.8rem;
//     height: 0.8rem;
//     background-color: #000;
//     border-radius: 50%;
//     position: absolute;
//     top: 0.4rem;
//     left: 0;
//   }
// }
