extends ./_include/_layout

append headBottom
  link(rel="stylesheet", href="/assets/css/top.css")

block var
  - pageId = 'index'
  - pageOgpType= 'website';

block content
  body
    include _include/common/_header

    main
      include _include/top/_sample

    include _include/common/_footer
