extends ./_include/_layout

append headBottom
  link(rel="stylesheet" href="/assets/css/top.css")

block var
  - pageId = 'index'
  - pageOgpType= 'website';

block content
  body.block-bg
    include _include/common/_header

    main
      include _include/top/_main
      include _include/top/_works
      include _include/top/_about
      include _include/common/_footer

    //- 
